a {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

body {
    font-family: "Source Serif Pro", serif;
}

.wrap{
    max-width: 750px;
    margin: 0 auto;
    padding: 0.5em;
}
 
.wrap:after {
    content: "";
    display: table;
    clear: both;
}

#title {
    margin-top: 75px;
}