<!DOCTYPE html>
<html>
    <head>
        <title>Choose Your Own Adventure</title>
    </head>
    <body>
        <h1>{{.Title}}</h1>
        {{range .Story}}
        <p>{{.}}</p>
        {{end}}
        {{range .Options}}
        <p>
            <a href="/{{.Arc}}">{{.Text}}</a>
        </p>
        {{end}}
    </body>
</html>
